.svg .radial-progress {
    position: relative;
    display: inline-block;
}

/*TIMER*/

circle {
    stroke-width: 4em;
    fill: transparent;
    /*transform: rotate(270deg);*/
}

.radial-progress-border {
    /*stroke: #e53c37;*/
    stroke-width: 4.1em;
}

/*.radial-progress-background {*/
    /*stroke: #eb6864;*/
/*}*/

.radial-progress-cover {
    stroke: #DEDEDE;
}

.radial-progress-center {
    fill: #CCC;
}