i:before {
    font-family: fontAwesome !important;
}

html, body, #app, #display {
    height: 100%
}

section[id]:not(:target) {
    display: none !important;
}

section {
    height: 100%;
    align-self: center;
}

#display {
    display: flex;
    flex-direction: column;
}

/*.navbar {*/
    /*padding-left: 25px;*/
    /*margin: 0;*/
    /*border-bottom: 1px solid rgb(15, 120, 100);*/
/*}*/

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    overflow: hidden;
    background-color: #18bc9c;
    border-bottom: 1px solid rgb(15, 120, 100);

}

.nav {

}

.nav a {
    font-size: 24px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav a:hover {
    cursor: pointer;
}

#content {
    margin-bottom: 21px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

/***********************/
/******** TIMER ********/
/***********************/

#timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#timer-component {
    display: flex;
    flex-direction: column;
}

#timer-radial {
    align-self: center;
}

svg {
    width: 32em;
}

circle {
    stroke-width: 10;
    fill: transparent;
    transition: stroke-dashoffset 0.5s ease-in-out;
}

.radial-progress-border {
    stroke-width: 10;
    transition: stroke 0.5s ease-in-out;
}

.radial-progress-cover {
    stroke: #DEDEDE;
}

.radial-progress-center {
    fill: #CCC;
}

#timer-button {
    align-self: center;
    width: 16em;
    transition: all 0.5s ease-in-out;
}

/***********************/
/******** TASKS ********/
/***********************/

#tasks {
    display: flex;
    justify-content: center;
}

#no-tasks {
    margin: 90px;
    align-self: center;
}

#tasks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    align-items: flex-start;
}

.task {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 300px;
    max-width: 300px;
    margin: 15px;
    box-shadow: 2px 2px 5px 0 #888888;
    word-break: break-all;
    transition: all 0.5s ease-in-out;
}

.task-header {
    font-size: 26px;
    background-color: bisque;
    padding: 15px;
    border-radius: 3px 3px 0 0;
}

.task-body {
    background-color: antiquewhite;
    padding: 15px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: bisque;
    border-radius: 0 0 3px 3px;
}

#add-task-btn {
    font-size: 16px;
}

#footer {
    height: 8%;
    border-top: 1px solid #d3d3d3;
    background-color: #dededf;
    order: 3;
}

#footer > .container {
    padding: 15px;
}

#loading-spinner {
    margin: 90px;
    align-self: center;
}

.margin-top {
    margin-top: 36px;
}

.header-hr {
    width: 100%;
}

hr {
    margin: 0;
}

.alert {
    padding: 15px 35px;
    margin-top: 21px;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (max-width: 1000px) {

    #timer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    svg {
        width: 30em;
    }

    #timer-button {
        width: 16em;
    }

}

@media (max-width: 700px) {

    svg {
        width: 16em;
    }

    #timer-button {
        width: 11em;
    }

}

@media (max-width: 410px) {

    .nav a {
        font-size: 15px;
    }

    svg {
        width: 16em;
    }

    #timer-button {
        width: 10.4em;
        padding: 7px;
    }

    .task {
        width: 200px;
    }

    .task-header {
        font-size: 20px;
    }

    .task-body {
        font-size: 12px;
    }

    #add-task-btn {
        font-size: 11px;
    }

}